body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}
h1 {
    color: #333;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #005f6a;
}
form {
    margin-top: 20px;
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea {
    width: 100%;
    padding: 10px 0 0 0;
    margin: 10px 0;
    border: 1px solid #dedddd;
    border-radius: 5px;
}